<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
                <add value="home.html" />
				<add value="index.php" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <fileExtensions>
				    <add fileExtension=".webp" allowed="true" />
				    <add fileExtension=".png" allowed="true" />
				    <add fileExtension=".jpg" allowed="true" />
				    <add fileExtension=".svg" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
